<section>
  <article>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        [(ngModel)]="email"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="register()">
      Register
    </button>
  </article>
</section>
